<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/layui/css/layui.css"/>
    <link type="text/css" rel="stylesheet" href="/static/scrollbar/jquery.scrollbar.css"/>
    <link type="text/css" rel="stylesheet" href="/static/admin/iconfont/iconfont.css"/>
    <link type="text/css" rel="stylesheet" href="/static/admin/css/page-item.css"/>
</head>
<body>
<div class="page-main scrollbar-inner">
    <div class="page-container">
        <div class="page-fluid">
            <form class="layui-form layui-unselect table-form" action="">
                <div class="layui-inline">
                    <label class="layui-form-label">ID</label>
                    <div class="layui-input-inline">
                        <input type="text" placeholder="请输入ID" autocomplete="off" name="a_id"
                               class="layui-input"/>
                    </div>

                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">国家</label>
                    <div class="layui-input-inline">
                        <input type="text" placeholder="请输入国家" name="country" autocomplete="off"
                               lay-verify="country"
                               class="layui-input"/>
                    </div>

                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">范围日期</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input test-item" placeholder="yyyy-MM-dd" name="date_start">
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input test-item" placeholder="yyyy-MM-dd" name="date_end">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">上传人</label>
                    <div class="layui-input-inline">
                        <select name="op_user_select" lay-search="">
                            <option value="">直接选择或搜索选择</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button type="button" lay-filter="search" lay-submit class="layui-btn" data-type="reload">搜索
                    </button>
                </div>
            </form>

            <table id="list" lay-filter="list"></table>

        </div>
    </div>
</div>

<script type="text/javascript" src="/static/admin/iconfont/iconfont.js"></script>
<script type="text/javascript" src="/static/jquery/jquery-3.4.1.js"></script>
<script type="text/javascript" src="/static/admin/js/common.js"></script>
<script type="text/javascript" src="/static/scrollbar/jquery.scrollbar.min.js"></script>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script type="text/javascript" src="/static/admin/js/user_form.js"></script>
<script type="text/javascript" src="/static/admin/js/utils.js"></script>


{% comment %} component {% endcomment %}

<script type="text/html" id="toolbar">
    <a class="layui-btn layui-btn-sm" lay-event="upload">上传</a>
    <a class="layui-btn layui-btn-sm" lay-event="batch_upload">批量上传</a>
    <a class="layui-btn layui-btn-sm" lay-event="batch_export">批量导出</a>
</script>

<script type="text/html" id="table_control">
    <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

{% comment %} Form {% endcomment %}
<div class="layui-row" id="addForm" style="display:none;">
    <div class="layui-col-md10">
        <form class="layui-form" action="" style="margin-top:20px" lay-filter="addForm">
            <div class="layui-form-item">
                <label class="layui-form-label required">ID<span style="color: red">*</span> </label>
                <div class="layui-input-block required">
                    <input type="text" name="a_id"
                           required lay-verify="a_id"
                           autocomplete="off" placeholder="请输入ID" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item" style="margin-top:40px">
                <div class="layui-input-block">
                    <button class="layui-btn  layui-btn-submit " lay-submit="" lay-filter="addSubmit">确认添加
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="layui-upload" id="uploadDialog" style="display: none">
    <button type="button" class="layui-btn" id="btn_batch_upload">
        <i class="layui-icon">&#xe67c;</i>
        选择文件
    </button>
    <p id="p_upload_preview"></p>
    <button class="layui-btn  layui-btn-submit " lay-submit="" id="btnBatchUpload">确认上传</button>
</div>

<div class="layui-row" id="editForm" style="display:none;">
    <div class="layui-col-md10">
        <form class="layui-form layui-from-pane" action="" style="margin-top:20px" lay-filter="editForm">
            <input type="hidden" name="id">
            <div class="layui-form-item">
                <label class="layui-form-label required">ID</label>
                <div class="layui-input-block required">
                    <input type="text" name="account_id" disabled="disabled" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">国家</label>
                <div class="layui-input-block required">
                    <input type="text" name="country"
                           required lay-verify="required"
                           autocomplete="off" placeholder="请输入国家" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">年龄</label>
                <div class="layui-input-block required">
                    <input type="number" name="age"
                           required
                           autocomplete="off" placeholder="请输入年龄" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">工作</label>
                <div class="layui-input-block required">
                    <input type="text" name="work"
                           required lay-verify="required"
                           autocomplete="off" placeholder="请输入工作"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">收入</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="number" name="money" placeholder="￥" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                        <textarea name="mark"
                                  placeholder="备注信息"
                                  class="layui-textarea"></textarea>
                </div>
            </div>

            <div class="layui-form-item" style="margin-top:40px">
                <div class="layui-input-block">
                    <button class="layui-btn  layui-btn-submit " lay-submit="" lay-filter="editSubmit">确认修改
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% comment %} {% endcomment %}
{% csrf_token %}
<script type="text/javascript">
    layui.use(['layer', 'form', 'table', 'laytpl', 'laydate', 'upload'], function () {
        const layer = layui.layer,
            form = layui.form,
            table = layui.table
        const laydate = layui.laydate;
        const laytpl = layui.laytpl;
        const upload = layui.upload
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const headers = {
            "Accept": "application/json; charset=utf-8",
            "X-CSRFToken": csrftoken
        };

        lay('.test-item').each(function () {
            const date = new Date()
            const max = `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}`
            laydate.render({
                elem: this,
                type: 'date',
                min: '2023-1-1',
                max: max
                , trigger: 'click'
            });
        });
        /*表格渲染*/
        table.render({
            id: 'list',
            elem: '#list',
            url: '/api/account_id/list',
            page: true,
            toolbar: '#toolbar',
            cellMinWidth: 80,
            cols: [[
                {type: 'checkbox', fixed: 'left'},
                {field: 'id', title: '编号', width: 80, align: 'center'},
                {field: 'account_id', title: 'ID', align: 'center'},
                {field: 'country', title: '国家', align: 'center'},
                {field: 'age', title: '年龄', align: 'center'},
                {field: 'work', title: '工作', align: 'center'},
                {field: 'money', title: '收入', align: 'center'},
                {field: 'mark', title: '备注', align: 'center'},
                {field: 'create_time', title: '创建时间', align: 'center'},
                {field: 'update_time', title: '更新时间', width: 160, align: 'center'},
                {field: 'action', title: '操作', fixed: 'right', toolbar: '#table_control', width: 115}
            ]]
        });

        /*表格头工具监听*/
        table.on('toolbar(list)', function (obj) {
            const data = obj.data; //获得当前行数据
            const layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if (layEvent === 'upload') {
                layer.open({
                    type: 1,
                    area: ['400px', '300px'],
                    title: ['ID上传', 'text-align:center;'],
                    content: $("#addForm")
                });
                initAddForm()
            } else if (layEvent === 'batch_upload') {
                layer.open({
                    type: 1,
                    area: ['400px', '300px'],
                    title: ['ID上传', 'text-align:center;'],
                    content: $("#uploadDialog")
                });
                initBatchUpload()
            }
        });

        /*表格行工具监听*/
        table.on('tool(list)', function (obj) {
            const layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if (layEvent === 'edit') {
                layer.open({
                    type: 1,
                    title: "修改数据",
                    area: ['800px', '600px'],
                    content: $("#editForm")
                });
                initEditForm(obj);
            } else if (layEvent === 'del') {
                handleDel(obj);
            }
        });

        function initSearchForm() {
            form.on('submit(search)', function (data) {
                table.reload('list', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    where: data.field
                });
                return false;
            });
            form.render();
        }

        initSearchForm();

        function initAddForm() {
            form.on('submit(addSubmit)', function (massage) {
                console.log(massage)
                layer.load(1);
                $.ajax({
                    url: '/api/account_id/upload',
                    type: 'POST',
                    headers: headers,
                    data: massage.field,
                    success: function (res) {
                        if (res.code >= 0) {
                            console.log("添加成功")
                            layer.closeAll('loading');
                            layer.load(2);
                            layer.msg("添加成功", {icon: 6});
                            setTimeout(function () {
                                table.reload("list");
                                layer.closeAll();//关闭所有的弹出层
                            }, 1000);
                        } else {
                            layer.msg(res.msg, {icon: 5})
                        }
                    },
                    error: function () {
                        layer.msg("请求失败", {icon: 5})
                    },
                });
                return false
            })

        }

        function initBatchUpload() {
            const batchUpload = upload.render({
                elem: '#btn_batch_upload',
                url: '/api/account_id/bat_upload',
                accept: 'file',
                field: 'file',
                headers: headers,
                exts: 'txt',
                auto: false,
                bindAction: '#btnBatchUpload',
                before: function (obj) {
                    layer.load()
                    console.log("upload before");
                },
                choose: function (obj) {
                    console.log("upload choose", obj);
                    let files = obj.pushFile();
                    console.log("upload choose files = ", files)
                    obj.preview(function (index, file, result) {
                        let dom = `<span style="margin-left: 20px; margin-right: 20px">要上传文件名: ${file.name}
<button type="button" id="btn_upload_del_${index}" class="layui-btn layui-btn-sm layui-btn-normal"><i class="layui-icon"></i> 删除</button>`

                        $("#p_upload_preview").append(dom)
                        $(`btn_upload_del_${index}`).on('click', function () {
                            delete files[index]
                            $("#p_upload_preview").children().remove()
                        });
                    });

                },
                done: function (res, index, upload) {
                    console.log(`upload done res = ${re} index = ${index} upload = ${upload}`);
                    if (res.code <= 0) {
                        layer.closeAll('loading');
                        layer.msg(res.msg, {icon: 5})
                        return
                    }
                    layer.msg("上传成功", {icon: 6});
                    setTimeout(function () {
                        table.reload("list");
                        layer.closeAll();//关闭所有的弹出层
                    }, 1000);
                },
                error: function (index, upload) {
                    console.log(`upload error index = ${index} upload = ${upload}`)
                    layer.msg("上传失败，请重试", {icon: 5})
                    layer.closeAll('loading');
                }
            });
        }


        function initEditForm(obj) {
            const data = obj.data;
            $("#p_username").innerHTML = data.username;

            form.val("editForm", {
                id: data.id,
                account_id: data.account_id,
                country: data.country,
                age: data.age,
                work: data.work,
                money: data.money,
                mark: data.mark,
            });

            form.on('submit(editSubmit)', function (massage) {
                console.log("updatw = massage", massage)
                layer.load(1);
                $.ajax({
                    url: '/api/account_id/update',
                    type: 'POST',
                    headers: headers,
                    data: {
                        id: data.id,
                        ...massage.field
                    },
                    success: function (res) {
                        if (res.code >= 0) {
                            console.log("修改成功")
                            layer.closeAll('loading');
                            layer.load(2);
                            layer.msg("修改成功", {icon: 6});
                            setTimeout(function () {
                                layer.closeAll();//关闭所有的弹出层
                                table.reload("list", massage.field);//修改成功修改表格数据不进行跳转
                            }, 1000);
                        } else {
                            layer.msg("修改失败", {icon: 5});
                        }
                    }
                });
                return false
            });
        }

        function handleDel(obj) {
            layer.confirm('确定删除吗？', function (index) {
                layer.close(index);
                const index2 = layer.load(0);
                $.ajax({
                    url: "/api/account_id/del",
                    data: {id: obj.data.id, account_id: obj.data.account_id},
                    type: "post",
                    headers: headers,
                    dataType: "JSON",
                    success: function (msg) {
                        if (msg.code === 0) {
                            layer.msg(msg.msg);
                            table.reload('list'); //数据刷新
                            layer.close(index); //关闭弹层
                            return;
                        }
                        layer.msg(msg.msg, {icon: 5});
                    },
                    error: function () {
                        layer.msg("请求失败", {icon: 5})
                    },
                    complete() {
                        layer.close(index2);
                    }
                });
            });
        }

        (function initUserList() {
            $.ajax({
                url: '/api/user_simple_list',
                success: function (res) {
                    if (res.code >= 0) {
                        let data = res.data;
                        let selectElements = $("select[name='op_user_select']");
                        for (let j = 0; j < selectElements.length; j++) {
                            for (let i = 0; i < data.length; i++) {
                                let item = data[i];
                                selectElements.eq(j).append(
                                    `<option value="${item.id}">${item.name ?? item.username}</option>`
                                );
                            }
                        }
                        form.render('select');
                    } else {
                        console.log("策略列表，错误：", res.msg)
                    }
                }
            });
        })();

        //滚动条
        jQuery(".page-main").scrollbar();


    });
</script>
</body>
</html>