Django==4.2.3
gunicorn==21.2.0

async-timeout
# uwsgi==2.0.20
django_apscheduler~=0.6.2
cryptography==38.0.1

uvicorn~=0.18.3
PyMySQL~=1.0.2
starlette~=0.20.4
asgiref~=3.5.2

djangorestframework==3.14.0
django-cors-headers==3.13.0
Pillow==9.3.0