Django==4.1
gunicorn>=20.0,<21.0
whitenoise>=6.0,<7.0

async-timeout==4.0.2
uwsgi
django_apscheduler~=0.6.2
cryptography==38.0.1

uvicorn~=0.18.3
PyMySQL~=1.0.2
starlette~=0.20.4
asgiref~=3.5.2

djangorestframework==3.14.0
django-cors-headers==3.13.0
Pillow==9.3.0
# excel
openpyxl
zxing
psutil