<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link type="text/css" rel="stylesheet" href="/static/admin/iconfont/iconfont.css"/>
    <link type="text/css" rel="stylesheet" href="/static/scrollbar/jquery.scrollbar.css"/>
    <link type="text/css" rel="stylesheet" href="/static/nprogress/nprogress.min.css"/>
    <link type="text/css" rel="stylesheet" href="/static/layui/css/layui.css"/>
    <link type="text/css" rel="stylesheet" href="/static/admin/css/site.css"/>

</head>

<body>
<div id="main" class="unselect">
    <div class="admin-header scrollbar-inner">
        <ul class="list">
            <li>
                <a id="changeMenu" title="收起">
                    <i class="iconfont icon-shouqi"></i>
                </a>
            </li>
            <span class="bar"></span>
        </ul>
        <ul class="list">
            <li>
                <a data-url="admin/shuiji">
                    <span>{{ request.session.user.username }}</span>
                    <i class="iconfont icon-jiantouyou1"></i>
                </a>
                <dl>
                    <span class="triangle"></span>
                    <dd>
                        <a data-url="/view/auth/user/modify_pwd" onclick="pageOpen($(this))">
                            <i class="iconfont icon-guanji"></i>
                            <span>修改密码</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="/logout">
                            <i class="iconfont icon-guanji"></i>
                            <span>退出</span>
                        </a>
                    </dd>
                </dl>
            </li>
            <span class="bar"></span>
        </ul>
    </div>
    <div class="admin-menu">
        <div>
            <div class="logo flex-c">
                <div class="web">后台管理</div>
                <div class="wap">0.0</div>
            </div>
            <ul class="nav-list scrollbar-inner">
                <li>
                    <a data-url="/view/auth/console.html" data-title="主页" class="default">
                        <i class="iconfont icon-zhuye"></i>
                        <span>主页</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="iconfont icon-guanliyuan"></i>
                        <span>用户管理</span>
                        <i class="iconfont icon-jiantouyou1"></i>
                    </a>
                    <dl>
                        <dd>
                            <a data-url="/view/auth/user_view">
                                <i class="iconfont icon-guanliyuan"></i>
                                <span>用户列表</span>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <a data-url="admin">
                        <i class="iconfont icon-quanxian"></i>
                        <span>上传管理</span>
                        <i class="iconfont icon-jiantouyou1"></i>
                    </a>
                    <dl>
                        <dd>
                            <a data-url="/view/auth/account_id/list">
                                <i class="iconfont icon-guanliyuan"></i>
                                <span>ID管理</span>
                            </a>
                        </dd>
                        <dd>
                            <a data-url="/view/auth/account_qr/list">
                                <i class="iconfont icon-guanliyuan"></i>
                                <span>二维码管理</span>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <a data-url="/view/auth/setting.html">
                        <i class="iconfont icon-set"></i>
                        <span>设置</span>
                    </a>
                </li>
                <span class="nav-bar"></span>
            </ul>
        </div>
    </div>
    <div class="admin-menu-zzc"></div>
    <div class="admin-page unselect">
        <div class="prev btn change-page" title="上一项">
            <i class="iconfont icon-jiantouzuo"></i>
        </div>
        <div class="page-list">
            <span class="page-bar"></span>
        </div>
        <div class="next btn change-page" title="下一项">
            <i class="iconfont icon-jiantouyou"></i>
        </div>
        <div class="other btn">
            <i class="iconfont icon-caidan"></i>
            <div class="list right">
                <span class="triangle"></span>
                <a class="item close_page_now">关闭当前标签页</a>
                <a class="item close_page_other">关闭其它标签页</a>
                <a class="item close_page_all">关闭全部标签页</a>
            </div>
        </div>
    </div>
    <div class="admin-body">

    </div>
</div>
<script type="text/javascript" src="/static/jquery/jquery-3.4.1.js"></script>
<script type="text/javascript" src="/static/jquery/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="/static/scrollbar/jquery.scrollbar.min.js"></script>
<script type="text/javascript" src="/static/nprogress/nprogress.min.js"></script>
<script type="text/javascript" src="/static/admin/js/site.js"></script>
</body>
</html>