<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link type="text/css" rel="stylesheet" href="/static/layui/css/layui.css" />
    <link type="text/css" rel="stylesheet" href="/static/scrollbar/jquery.scrollbar.css" />
    <link type="text/css" rel="stylesheet" href="/static/admin/css/page-item.css" />
    <style>
        .tjxz{color:green;}
        .scxz{color:black;transition: all .2s;}
        .scxz:hover{color:red;}
        .xzjs{height: 40px;margin-bottom:5px;}
        .xzjs .layui-form-select{width: calc(100% - 25px);display: inline-block;}
        .xzjs i{float:right;line-height:40px;cursor:pointer;font-size: 20px;}
        .layui-form-item .layui-form-label{width: 3em;}
        .layui-form-item .layui-input-inline{margin-left: calc(3em + 30px);margin-bottom: 0;}
    </style>
</head>
<body>
<div class="page-main scrollbar-inner">
    <div class="page-container">
        <div class="layui-form" lay-filter="layer_form" id="layer_form">
            <div class="layui-form-item">
                <label class="layui-form-label">管理员</label>
                <div class="layui-input-inline">
                    <input type="text" name="uName" lay-verify="required" value="lhh" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">手机</label>
                <div class="layui-input-inline">
                    <input type="text" name="tel" lay-verify="phone" value="13333333333" placeholder="请输入号码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                    <input type="text" name="email" lay-verify="email" value="1913555371@qq.com" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="pwd" lay-verify="password" placeholder="请输入密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">角色</label>
                <div class="layui-input-inline" id="roles"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-inline">
                    <input type="checkbox" value="1" lay-filter="switch" name="status" lay-skin="switch" lay-text="可用|禁用">
                </div>
            </div>
            <div class="layui-form-item layui-hide">
                <input type="button" lay-submit lay-filter="layer_submit" id="layer_submit" value="确认">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/jquery/jquery-3.4.1.js"></script>
<script type="text/javascript" src="/static/scrollbar/jquery.scrollbar.min.js"></script>
<script type="text/javascript" src="/static/layui/layui.js"></script>
</body>
</html>