<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/layui/css/layui.css"/>
    <link type="text/css" rel="stylesheet" href="/static/scrollbar/jquery.scrollbar.css"/>
    <link type="text/css" rel="stylesheet" href="/static/admin/iconfont/iconfont.css"/>
    <link type="text/css" rel="stylesheet" href="/static/admin/css/page-item.css"/>

</head>
<body>
<div class="page-main scrollbar-inner">
    <div class="page-container">
        <div class="page-fluid">
            <form class="layui-form layui-unselect table-form" action="" lay-filter="search">
                <div class="layui-inline">
                    <label class="layui-form-label">客服账号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" placeholder="请输入客服账号查询" autocomplete="off"
                               class="layui-input"/>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">用户类型</label>
                    <div class="layui-input-inline">
                        <select name="role">
                            <option value="">请选择</option>
                            <option value="0">管理员</option>
                            <option value="1">粉端账号</option>
                            <option value="2">业务员</option>
                        </select>
                    </div>

                </div>
                <div class="layui-inline">
                    <button class="layui-btn  layui-btn-submit " lay-submit="" lay-filter="search" data-type="reload">搜索
                    </button>
                </div>
            </form>

            <table id="list" lay-filter="list"></table>

        </div>
    </div>
</div>

<script type="text/javascript" src="/static/admin/iconfont/iconfont.js"></script>
<script type="text/javascript" src="/static/jquery/jquery-3.4.1.js"></script>
<script type="text/javascript" src="/static/admin/js/common.js"></script>
<script type="text/javascript" src="/static/scrollbar/jquery.scrollbar.min.js"></script>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script type="text/javascript" src="/static/admin/js/user_form.js"></script>
<script type="text/javascript" src="/static/admin/js/utils.js"></script>
<script type="text/javascript" src="/static/admin/js/admin.js"></script>
<script type="text/javascript" src="/static/jquery/jquery-md5.js"></script>

{% comment %} component {% endcomment %}
{% if request.session.user.role == 0 %}
    <script type="text/html" id="toolbar">
        <a class="layui-btn layui-btn-sm" lay-event="add">添加账号</a>
    </script>
    <script type="text/html" id="table_control">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="modify_pwd">修改密码</a>
        {% verbatim %} {{# if(!d.role == 0) { }}{% endverbatim %}
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        {% verbatim %} {{# } }}{% endverbatim %}
    </script>

{% endif %}

{% comment %} 添加账号 {% endcomment %}
<div class="layui-row" id="addForm" style="display:none;">
    <div class="layui-col-md10">
        <form class="layui-form" action="" style="margin-top:20px" lay-filter="addForm">
            <div class="layui-form-item">
                <label class="layui-form-label required">账号<span style="color: red">*</span></label>
                <div class="layui-input-block required">
                    <input type="text" name="username"
                           required lay-verify="required"
                           autocomplete="off" placeholder="请输入账号" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required"><span style="color: red">*</span>密码</label>
                <div class="layui-input-block required">
                    <input type="password" name="password"
                           required lay-verify="required"
                           autocomplete="off" placeholder="请输入密码" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户类型<span style="color: red">*</span></label>
                <div class="layui-input-inline" lay-verify="role">
                    <select name="role">
                        <option value="">请选择</option>
                        <option value="0">管理员</option>
                        <option value="1">粉端账号</option>
                        <option value="2">业务员</option>
                    </select>
                </div>

            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">用户名</label>
                <div class="layui-input-block required">
                    <input type="text" name="name"
                           autocomplete="off" placeholder="请输入名称"
                           class="layui-input">
                </div>
            </div>

            <div class="layui-form-item" style="margin-top:40px">
                <div class="layui-input-block">
                    <button class="layui-btn  layui-btn-submit " lay-submit="" lay-filter="addSubmit">确认添加
                    </button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% comment %} 修改账号信息 {% endcomment %}
<div class="layui-row" id="editForm" style="display:none;">
    <div class="layui-col-md10">
        <form class="layui-form layui-from-pane" action="" style="margin-top:20px" lay-filter="editForm">
            <div class="layui-form-item">
                <label class="layui-form-label required">账号</label>
                <div class="layui-input-block required">
                    <input type="text" name="username" disabled="disabled" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">用户名</label>
                <div class="layui-input-block required">
                    <input type="text" name="name"
                           required lay-verify="required"
                           autocomplete="off" placeholder="请输入名称"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户类型<span style="color: red">*</span></label>
                <div class="layui-input-inline" lay-verify="role">
                    <select name="role">
                        <option value="">请选择</option>
                        <option value="0">管理员</option>
                        <option value="1">粉端账号</option>
                        <option value="2">业务员</option>
                    </select>
                </div>

            </div>

            <div class="layui-form-item" style="margin-top:40px">
                <div class="layui-input-block">
                    <button class="layui-btn  layui-btn-submit " lay-submit="" lay-filter="editSubmit">确认修改
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% comment %} 修改账号密码 {% endcomment %}
<div class="layui-form layui-form-pane" lay-filter="modifyPwdSubmit" id="modifyPwdForm" style="display: none">
    <div class="layui-col-md12">
        <div class="layui-form-item layui-hide">
            <input type="hidden" name="id" autocomplete="off" class="layui-input">
            <input type="hidden" name="username" autocomplete="off" class="layui-input">
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-inline">
                <input type="password" name="password_new" required placeholder="请输入新密码" autocomplete="off"
                       class="layui-input" lay-verify="password_new">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">确认新密码</label>
            <div class="layui-input-inline">
                <input type="password" name="password_new2" required placeholder="请输入密码" autocomplete="off"
                       class="layui-input" lay-verify="password_new2">
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn  layui-btn-submit layui-btn-fluid" lay-submit="" lay-filter="modifyPwdForm">
                确认修改
            </button>
        </div>
    </div>


</div>


{% comment %} {% endcomment %}
{% csrf_token %}
<script type="text/javascript">
    layui.use(['layer', 'form', 'table', 'laytpl'], function () {
        const layer = layui.layer, form = layui.form, table = layui.table
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const headers = {
            "Accept": "application/json; charset=utf-8",
            "X-CSRFToken": csrftoken
        };
        /*表格渲染*/
        table.render({
            id: 'list',
            elem: '#list',
            url: '/api/user_list',
            page: true,
            {% if request.session.user.role == 0 %}
                toolbar: '#toolbar',
            {% endif %}
            cellMinWidth: 80,
            cols: [[
                {field: 'id', title: '序号', width: 80, align: 'center'},
                {field: 'username', title: '客服账号', align: 'center'},
                {field: 'name', title: '名称', align: 'center'},
                {field: 'role', title: '角色', align: 'center', templet: roleTemplate,},
                {field: 'create_time', title: '创建时间', align: 'center'},
                {field: 'update_time', title: '更新时间', width: 160, align: 'center'},
                {% if request.session.user.role == 0 %}
                    {
                        field: 'action',
                        title: '操作',
                        fixed: 'right',
                        toolbar: '#table_control',
                        align: 'center',
                        width: 200
                    }
                {% endif %}

            ]],
            defaultToolbar: ['filter', 'exports']
        });

        /*表格头工具监听*/
        table.on('toolbar(list)', function (obj) {
            const layEvent = obj.event;
            if (layEvent === 'add') {
                layer.open({
                    type: 1,
                    area: [$(window).width() * 0.8 + 'px', $(window).height() * 0.92 + 'px'],
                    title: ['添加用户', 'text-align:center;'],
                    content: $("#addForm")
                });
                initAddForm()
            }
        });

        /*表格行工具监听*/
        table.on('tool(list)', function (obj) {
            const layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if (layEvent === 'edit') {
                layer.open({
                    type: 1,
                    title: "修改数据",
                    area: ['400px', '300px'],
                    content: $("#editForm")
                });
                initEditForm(obj);
            } else if (layEvent === 'del') {
                handleDel(obj);
            } else if (layEvent === 'modify_pwd') {
                layer.open({
                    type: 1,
                    title: "修改密码",
                    area: ['400px', '300px'],
                    content: $("#modifyPwdForm")
                });
                initModifyPwdForm(obj);
            }
        });

        function initSearchForm() {
            form.on('submit(search)', function (data) {
                console.log("submit search", data.field)
                table.reload('list', {
                    page: {
                        curr: 0 //重新从第 1 页开始
                    },
                    where: data.field
                });
                return false;
            });
            form.render();
        }

        initSearchForm();

        function initAddForm() {
            form.verify({
                username: function (value, item) {
                    if (!/^.+$/.test(value)) {
                        $(item).focus();
                        return '用户名不能为空';
                    }
                },
                password: function (value, item) {   //密码验证
                    if (!/^.+$/.test(value)) {
                        $(item).focus();
                        return '密码不能为空';
                    }
                    if (!/^[a-zA-Z\d\-_\.!@]{6,26}$/.test(value)) {
                        $(item).focus();
                        return '密码格式错误';
                    }
                },
                role: function (value, item) {
                    console.log("value = ", value);
                    if (value == null || value === "") {
                        $(item).focus();
                        return "必须选择一个角色类型"
                    }
                }
            });

            form.on('submit(addSubmit)', function (massage) {
                let username = massage.field.username;
                let password = $.md5(massage.field.password);
                let name = massage.field.name
                let role = massage.field.role;
                console.log(massage)
                const layerId = layer.load(1);
                $.ajax({
                    url: '/api/user_add',
                    type: 'POST',
                    headers: headers,
                    data: {
                        'username': username,
                        'password': password,
                        'name': name,
                        'role': role
                    },
                    success: function (res) {
                        if (res.code >= 0) {
                            console.log("添加成功")
                            layer.closeAll('loading');
                            layer.load(2);
                            layer.msg("添加成功", {icon: 6});
                            setTimeout(function () {
                                table.reload("list");
                                layer.closeAll();//关闭所有的弹出层
                            }, 1000);
                            return;
                        }
                        layer.close(layerId);
                        layer.msg(res.msg, {icon: 5})
                    },
                    error: function () {
                        layer.close(layerId);
                        layer.msg("请求失败", {icon: 5})
                    },
                });
                return false
            })
        }

        function initEditForm(obj) {
            const data = obj.data;
            $("#p_username").innerHTML = data.username;

            form.val("editForm", data);

            form.on('submit(editSubmit)', function (massage) {
                console.log("updatw = massage", massage)
                layer.load(1);
                $.ajax({
                    url: '/api/user_update',
                    type: 'POST',
                    headers: headers,
                    data: {
                        id: data.id,
                        ...massage.field
                    },
                    success: function (res) {
                        if (res.code >= 0) {
                            console.log("修改成功")
                            layer.closeAll('loading');
                            layer.load(2);
                            layer.msg("修改成功", {icon: 6});
                            setTimeout(function () {
                                layer.closeAll();//关闭所有的弹出层
                                table.reload("list", massage.field);//修改成功修改表格数据不进行跳转
                            }, 1000);
                        } else {
                            layer.msg("修改失败", {icon: 5});
                        }
                    }
                });
                return false
            });
        }

        function initModifyPwdForm(obj) {
            const data = obj.data;
            console.log("modifyPwd data = %s", JSON.stringify(data));
            form.val("modifyPwdForm", {
                id: data.id,
                username: data.username,
            });
            $("input[name='password_new']").val("")
            $("input[name='password_new2']").val("")

            //自定义验证规则
            form.verify({
                password_new: function (value, item) {   //密码验证
                    if (!/^.+$/.test(value)) {
                        $(item).focus();
                        return '新密码不能为空';
                    }
                    if (!/(.+){6,12}$/.test(value)) {
                        $(item).focus();
                        return '密码必须6到12位';
                    }
                },
                password_new2: function (value, item) {   //密码验证
                    if (!/^.+$/.test(value)) {
                        $(item).focus();
                        return '确认密码不能为空';
                    }
                    if (!/(.+){6,12}$/.test(value)) {
                        $(item).focus();
                        return '密码必须6到12位';
                    }
                    if ($("input[name='password_new']").val() !== $(item).val()) {
                        $(item).focus();
                        return '两次输入密码不一致';
                    }
                },
            });

            form.on('submit(modifyPwdForm)', function (massage) {
                console.log("data = ", massage.field)
                const load_index = layer.load(0);
                const uid = data.id;

                let password_new = $.md5(massage.field.password_new);
                let password_new2 = $.md5(massage.field.password_new2);

                console.log("修改密码 id = ", data.id)
                $.ajax({
                    url: '/api/admin/modify_pwd',
                    type: 'post',
                    headers: headers,
                    data: {
                        'id': uid,
                        'password_new': password_new,
                        'password_new2': password_new2,
                    },
                    success: function (res) {
                        if (res.code === 0) {
                            layer.msg("修改成功", {icon: 1});
                            setTimeout(function () {
                                layer.closeAll();//关闭所有的弹出层2
                                table.reload("list", {
                                    page: {
                                        curr: 1
                                    }
                                });//修改成功修改表格数据不进行跳转
                            }, 1000);
                            return
                        }
                        console.log(res);
                        layer.msg(res.msg, {icon: 2});
                    },
                    error() {
                        layer.msg("网络错误，请重试", {icon: 2});
                    },
                    complete() {
                        layer.close(load_index)
                    }
                })

                return false
            });
        }

        function handleDel(obj) {
            layer.confirm('确定删除吗？', function (index) {
                layer.close(index);
                const index2 = layer.load(0);
                $.ajax({
                    url: "/api/user_del",
                    data: {id: obj.data.id, username: obj.data.username},
                    type: "post",
                    headers: headers,
                    dataType: "JSON",
                    success: function (msg) {
                        if (msg.code === 0) {
                            layer.msg(msg.msg);
                            table.reload('list'); //数据刷新
                            layer.close(index); //关闭弹层
                            return;
                        }
                        layer.msg(msg.msg, {icon: 5});
                    },
                    error: function () {
                        layer.msg("请求失败", {icon: 5})
                    },
                    complete() {
                        layer.close(index2);
                    }
                });
            });
        }

        //滚动条
        jQuery(".page-main").scrollbar();

        function roleTemplate(res) {
            console.log("role = " + res.role)
            switch (res.role) {
                case 0:
                    return `<span class="layui-badge layui-bg-green">管理员</span>`
                case 1:
                    return `<span class="layui-badge layui-bg-orange">粉端账号</span>`
                case 2:
                    return `<span class="layui-badge">业务员</span>`
                default:
                    break;
            }
            return `<span></span>`
        }

    });
</script>
</body>
</html>